<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lion 社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

    <link rel="stylesheet" href="css/community.css">

</head>
<body>
<!--<p th:text="'Hello, '+ ${id} + ${name} + '!'" />-->
<div th:insert="navigation :: nav"></div>
<div class="jumbotron" style="margin: 50px">
    <h1 th:text="${#messages}"></h1>
    <p>服务出错了，重新试一试吧。</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">点我回到主页</a></p>
</div>
</body>
</html>